html { 
    background: #dfdfdf;
}

body {
    background: #ffffff;
    width: 94%;
    margin: 1em auto;
    padding: 5px;
}

a#search_manager {
    float: right;
    padding: 5px;
}

div#search_manager_div { 
    display: none; 
    clear: both; 
    padding: 0.6em; 
    border: 1px dotted #808080;
    border-radius: 5px;
    background: #efefef;
    margin-bottom: 0.5em;
}

tr.newRow td {
    background: #90ee90;
}

tr.newLoadRow td {
    background: #87cefa;
}

tr.newRow td span.phone {
    background: #ffff00;
}

button, select {
    border: 1px solid #808080;
    border-radius: 5px;
}

select {
    margin-top: 0;
}

button {
    margin-top: 5px;
    background: #d9d9d9;
}

table {
    border-collapse: collapse;
}

span.phone {
    font-weight: bolder;
    background-color: #add8e6;
}

.block-control {
    display: block;
}

#delivery_states_selector,
#car_types_selector,
#pickup_states_selector {
    width: 275px !important;
}

.clearfix {
    clear: both;
}

#info_div > span,
#info_div > span {
    padding: 5px;
    margin: 5px;
    background: #cadefe;
}

#info_div > span {
    display: block;
}