html { 
    background: #dfdfdf;
}

body {
    background: white;
    width: 94%;
    margin: auto;
    padding: 5px;
}

a#search_manager {
    /* float: right; */
    padding: 5px;
}

div.options-block {
    display: inline-block;
    float: right;
    padding: 5px;
}


div#search_manager_div { 
    display: none; 
    clear: both; 
    padding: 0.6em; 
    border: 1px dotted gray;
    border-radius: 5px;
    background: #efefef;
    margin-bottom: 0.5em;
}

tr.newRow td {
    background: lightgreen;
}

tr.newLoadRow td {
    background: lightskyblue;
}

tr.newRow td span.phone {
    background: yellow;
}

button, select {
    border: 1px solid gray;
    border-radius: 5px;
}

select {
    margin-top: 0;
}

button {
    margin-top: 5px;
    background: #d9d9d9;
}

table {
    border-collapse: collapse;
}

span.phone {
    font-weight: bolder;
    background-color: lightblue;
}

.block-control {
    display: block;
}

#delivery_states_selector,
#car_types_selector,
#pickup_states_selector {
    width: 275px !important;
}

.clearfix {
    clear: both;
}

#err_div > span,
#info_div > span {
    padding: 5px;
    margin: 5px;
    background: #cadefe;
}

#info_div > span {
    display: block;
}